<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009203996064-v3bma3sn5qu0efefhnr36s50esjcalsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009203996064-v3bma3sn5qu0efefhnr36s50esjcalsl</string>
	<key>API_KEY</key>
	<string>AIzaSyDApueVQphH5wNY7BWoQpk1CO7ax0pipnY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009203996064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samplePodFlutter</string>
	<key>PROJECT_ID</key>
	<string>nagatama-app-d39b8</string>
	<key>STORAGE_BUCKET</key>
	<string>nagatama-app-d39b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009203996064:ios:caccdedf30342cc790f0c5</string>
</dict>
</plist>